.App {
  /* margin: 0 10%; */
  font-size: 20px;
  /* padding-top: 110px; */
}

.aspect-topic {
  aspect-ratio: 4/3;
}

.topic-img-border {
  border-radius: 5px 5px 0 0;
}

.collapse {
  visibility: visible;
}

.homepage {
  /* color: white; */
  margin-top: 25vh;
}

.topic-card {
  cursor: pointer;
}

.stat-card {
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.stat-card:hover {
  background-color: rgb(68, 68, 68) !important;
}


.homepage-btn {
  font-family: monospace;
  padding: 20px;
  font-size: 40px;
}

.problem-views {
}

.nevigation-bar {
  /* border: 1px solid black; */
  /* padding: 0; */
}

.nav-link {
  color: black;
  font-size: 20px;
  border-radius: 15px;
  /* border: 1px solid rgba(0, 0, 0, 0); */
}

.nav-link:hover {
  color: #523c00;
  font-size: 20px;
  background-color: white;
  /* border: 1px solid rgba(0, 0, 0, 0); */
}


.problem-card {
  border: 2px solid rgb(32, 32, 32);
  margin-bottom: 10px;
  padding: 12px 0 20px 20px;
  background-color: white;
  width: 100%;

  transition: background-color 0.2s;
}

.problem-card:hover {
  background-color: rgb(238, 238, 238);
  /* transform: scale(1.01) */
}

.problem-card-list {
  padding: 5px;
}

.input-code {
  font-family: monospace !important;
  color: rgb(0, 39, 99) !important;
  font-size: 20px !important;
}

pre.output {
  border: 1px dashed rgb(34, 34, 34);
  background-color: rgb(241, 241, 241);
  padding: 15px;
}

.custom-nav-btn {
  cursor: pointer;
}

.login-btn {
  background-color: rgb(255, 145, 0);
  border-radius: 15px;
}

.account-dropdown {
  background-color: rgb(255, 145, 0);
  border-radius: 15px;
  padding: 9px 15px;
  border: none;
}

.account-dropdown:hover {
  background-color: rgb(255, 255, 255);
}

.account-dropdown:active {
  background-color: rgba(255, 255, 255, 0);
}

.dropdown-item:active {
  background-color: #ffc507;
  color: black;
}